<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>URL Converter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link type="text/css" href="{{ url_for('static', path='CSS/main.css') }}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', path='JS/wrong.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', path='IMG/favicon.png') }}" sizes="32x32" type="image/png">
</head>
<body class="text-center" onload="consoleLog()"></body>
    <div class="container mainlogo">
        <div class="row">
            <div class="col-2">
                <img class="mb-4" src="{{ url_for('static', path='IMG/logo.png') }}" alt="URl" width="72" height="72" onclick="mainPage()">
            </div>
            <div class="col-10">
                <p class="text-left">URL Shorter</p>
            </div>
        </div>
    </div>
    <div class="container redirect">
        <div class="row text-left">
            <p>К сожалению ваша ссылка не работает. Пожалуйста, проверьте её корректность.</p>
            <p>Помните, срок хранения созданных ссылок - <spin style="font-size: 26px;"><strong>7 дней</strong></spin></p>
        </div>
    </div>
    <div id="responselog" style="display: none;">{{data['comment']}}</div>
    <div class="text-center axefooter">
        <p class="mt-5 mb-3 text-muted">AxEsseNse &copy; 2023</p>
    </div>
</body>
</html>
